
@{
    ViewData["Title"] = "NoAccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-4"></div>
<div class="row mt-4"></div>
<h3 class="allfont"><b>😢 Basic Subscribers do not have Access to Editor's Choice Articles.</b></h3>
<h3 class="allfont"><b>To get Access Upgrade to "Premium" Subscription  </b><a asp-action="Subscribe" asp-controller="Subscription" class="btn btn-danger" style="text-decoration:none;color:white;"><b>Change Subscription</b></a></h3>
<div class="row mt-4"></div>
<div class="row mt-4"></div>
<a asp-action="Index" asp-controller="Home" class="row btn btn-success" style="text-decoration:none;color:white;text-align:center;"><b>Back to Home Page</b></a>
<div class="row mt-4"></div>
<div class="row mt-4"></div>

