
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="Create" style="color:blue;">Add product</a>

<a class="dropdown-item" asp-area="" asp-controller="Product" asp-action="AllProducts" style="color:blue;">List of Products</a>