
@{
    ViewData["Title"] = "Privacy";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h1>Privacy</h1>


<p>
    Welcome to <b>ASAM WebShop</b>, your trusted source for the latest headlines and breaking news. We provide timely, accurate, and engaging content on global events, politics, sports, technology, business, entertainment.
    Our experienced team works hard to bring you the news that matters. Whether it's sports scores, global updates, or tech insights, ASAM News has it all.
    Your privacy is important to us.
</p>