@{
    ViewData["Title"] = "RemovedArticle";
}

<br />
<br />
<br />
<br />

<h3 class="removed-article-message">Article Removed Successfully</h3>
<style>
    .removed-article-message {
        display: inline-block;
        padding: 20px 30px;
        font-size: 2rem;
        background-color: #28a745;
        color: white;
        border-radius: 10px;
        text-align: center;
        font-weight: bold;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, transform 0.3s ease;
    }
</style>

<a asp-action="Index" asp-controller="Home">Back to home Page</a>
